In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, 7, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    7.0
4    NaN
5    6.0
6    8.0
dtype: float64

In [9]:
date = pd.date_range('20130101', periods=6)
date

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=date, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.508384 -0.586016 -0.505029 -0.487137
2013-01-02  0.589777  1.285934 -0.569340 -0.790667
2013-01-03  1.168980 -0.523543  0.910003  2.904127
2013-01-04 -0.278430 -0.281521  1.151043  2.031944
2013-01-05  0.326972 -1.098492 -1.043995  0.562319
2013-01-06 -0.619969 -0.405216  0.747486 -0.461444

In [12]:
df2 = pd.DataFrame(
    {
        'A':1.0,
        "B": pd.Timestamp('20130102'),
        "C":pd.Series(1, index=list(range(4)), dtype='float32'),
        "E":pd.Categorical(['test', 'train', 'test', "train"]),
        "F":'foo',
    }
)
df2

     A          B    C      E    F
0  1.0 2013-01-02  1.0   test  foo
1  1.0 2013-01-02  1.0  train  foo
2  1.0 2013-01-02  1.0   test  foo
3  1.0 2013-01-02  1.0  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
E          category
F            object
dtype: object

In [14]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [15]:
df.head()

                   A         B         C         D
2013-01-01  0.508384 -0.586016 -0.505029 -0.487137
2013-01-02  0.589777  1.285934 -0.569340 -0.790667
2013-01-03  1.168980 -0.523543  0.910003  2.904127
2013-01-04 -0.278430 -0.281521  1.151043  2.031944
2013-01-05  0.326972 -1.098492 -1.043995  0.562319

In [16]:
df.tail()

                   A         B         C         D
2013-01-02  0.589777  1.285934 -0.569340 -0.790667
2013-01-03  1.168980 -0.523543  0.910003  2.904127
2013-01-04 -0.278430 -0.281521  1.151043  2.031944
2013-01-05  0.326972 -1.098492 -1.043995  0.562319
2013-01-06 -0.619969 -0.405216  0.747486 -0.461444

In [17]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.278430 -0.281521  1.151043  2.031944
2013-01-05  0.326972 -1.098492 -1.043995  0.562319
2013-01-06 -0.619969 -0.405216  0.747486 -0.461444

In [18]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
df.to_numpy()

array([[ 0.50838395, -0.58601639, -0.5050293 , -0.48713674],
       [ 0.58977736,  1.28593423, -0.56934016, -0.79066696],
       [ 1.16898019, -0.52354325,  0.91000285,  2.90412719],
       [-0.27843027, -0.28152133,  1.15104303,  2.0319435 ],
       [ 0.32697198, -1.09849166, -1.04399456,  0.56231924],
       [-0.61996911, -0.40521577,  0.74748602, -0.46144421]])

In [24]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 'train', 'foo']],
      dtype=object)

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.282619 -0.268142  0.115028  0.626524
std    0.642240  0.811157  0.927521  1.523099
min   -0.619969 -1.098492 -1.043995 -0.790667
25%   -0.127080 -0.570398 -0.553262 -0.480714
50%    0.417678 -0.464380  0.121228  0.050438
75%    0.569429 -0.312445  0.869374  1.664537
max    1.168980  1.285934  1.151043  2.904127

In [26]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.508384    0.589777    1.168980   -0.278430    0.326972   -0.619969
B   -0.586016    1.285934   -0.523543   -0.281521   -1.098492   -0.405216
C   -0.505029   -0.569340    0.910003    1.151043   -1.043995    0.747486
D   -0.487137   -0.790667    2.904127    2.031944    0.562319   -0.461444

In [27]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.487137 -0.505029 -0.586016  0.508384
2013-01-02 -0.790667 -0.569340  1.285934  0.589777
2013-01-03  2.904127  0.910003 -0.523543  1.168980
2013-01-04  2.031944  1.151043 -0.281521 -0.278430
2013-01-05  0.562319 -1.043995 -1.098492  0.326972
2013-01-06 -0.461444  0.747486 -0.405216 -0.619969

In [28]:
df.sort_values(axis=0, by='B')

                   A         B         C         D
2013-01-05  0.326972 -1.098492 -1.043995  0.562319
2013-01-01  0.508384 -0.586016 -0.505029 -0.487137
2013-01-03  1.168980 -0.523543  0.910003  2.904127
2013-01-06 -0.619969 -0.405216  0.747486 -0.461444
2013-01-04 -0.278430 -0.281521  1.151043  2.031944
2013-01-02  0.589777  1.285934 -0.569340 -0.790667

In [31]:
df.sort_values(axis=1, by='2013-01-06')

                   A         D         B         C
2013-01-01  0.508384 -0.487137 -0.586016 -0.505029
2013-01-02  0.589777 -0.790667  1.285934 -0.569340
2013-01-03  1.168980  2.904127 -0.523543  0.910003
2013-01-04 -0.278430  2.031944 -0.281521  1.151043
2013-01-05  0.326972  0.562319 -1.098492 -1.043995
2013-01-06 -0.619969 -0.461444 -0.405216  0.747486